name: Validate Mod Database

on:
  pull_request:
  push:

jobs:
  validate:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14.2'
          cache: 'pip'
      
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run the validator
        run: python tools/actions_validade.py
